{% extends "themes/base_admin.html.twig" %}

{% block title %}Mon profil{% endblock %}

{% block description %}Mon profil{% endblock %}

{% block main %}
    <h1 class="text-center my-3 display-5">Mon profil</h1>

    
    <div calss="container mt-5">
        {% for message in app.flashes('success') %}
		<div class="text-center alert alert-success alert-dismissible fade show" role="alert">
			{{message}}
			<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
		</div>
	        {% endfor %}
                <div class="row">
                    <div class="col-md-10 mx-auto">
                {% for message in app.flashes('success') %}
		            <div class="text-center alert alert-success alert-dismissible fade show" role="alert">
			        {{message}}
			        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
		        </div>
	        {% endfor %}
                <div class="card">
                    <div class="card-body">
                        <p class="card-text"><strong>Prénom</strong>: {{ app.user.prenom }}</p>
                        <p class="card-text"><strong>Nom</strong>: {{ app.user.nom }}</p>
                        <p class="card-text"><strong>Email</strong>: {{ app.user.email }}</p>
                    
                            <a href="{{path('admin_profile_edit')}}" class="m-2 btn btn-secondary">Modifier votre profil</a>
                            <a href="{{path('admin_profile_edit_password')}}" class="m-2 btn btn-dark">Modifier votre mot de passe</a>
                            {% if "ROLE_SUPER_ADMIN" not in app.user.roles %}
                            <form method="POST" action="{{path('admin_profile_delete')}}" class="d-inline">
                                <input type="hidden" name="_method" value="DELETE">
                                <input type="hidden" name="csrf_token" value="{{csrf_token('delete_profile')}}">
                                <input onclick="return confirm('Confirmer la suppression de votre compte?')" type="submit" class="m-2 btn btn-danger" value="Supprimer votre compte">
                            </form>
                            {% endif %}
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
