<!DOCTYPE html>
<lang="fr" data-bs-theme="auto">
	<head>
		{# L'encodage des caractères #}
		<meta charset="UTF-8">

		{# Le Minimum de responsive design #}
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		{# Le titre de chaque page dans l'onglet #}
		<title>{% block title %}{% endblock %}Espace privé - Le site de transfert d'argent DBS</title>

		{# La description de chaque page #}
		<meta name="description" content="{% block description %}{% endblock %}">

		{# La favicon #}
		<link rel="apple-touch-icon" sizes="180x180" href="{{asset('apple-touch-icon.png')}}">
		<link rel="icon" type="image/png" sizes="32x32" href="{{asset('favicon-32x32.png')}}">
		<link rel="icon" type="image/png" sizes="16x16" href="{{asset('favicon-16x16.png')}}">
		<link rel="manifest" href="{{asset('site.webmanifest')}}">
		<link rel="mask-icon" href="{{asset('safari-pinned-tab.svg')}}" color="#5bbad5">
		<meta name="msapplication-TileColor" content="#da532c">

		{# No SEO for admin #}
		<meta name="robots" content="noindex, nofollow">

		{# Font awesome #}
		<link
		rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer"/>

		{# Font family #}
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link
		href="https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:ital@1&display=swap" rel="stylesheet">

		{# La feuille de style de Bootstrap 5 #}
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        
        {# Ma feuille de style #}
		<link rel="stylesheet" href="{{asset('css/app.css')}}">
	</head>
    <body>
        

        {# La barre de navigation #}
		<nav class="navbar navbar-expand-lg bg-danger">
			<div class="container-fluid">
				<a class="navbar-brand" href="{{path('visitor_welcome_index')}}">
					<img class="custom-logo" style="max-width: 100px; height: auto;" src="{{ asset('images/logo/logo.jpeg') }}" alt="Logo">
				</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarNav">
					<ul class="navbar-nav ms-auto">
						<li class="nav-item">
							<a class="nav-link" href="{{path('visitor_welcome_index')}}">Accueil</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{path('user_profile_index')}}">Mon profil</a>
						</li>
						{% if is_granted('ROLE_ADMIN') %}
						<li class="nav-item">
							<a class="nav-link" href="{{path('admin_home_index')}}">Retour admin</a>
						</li>
						{% endif %}
						{# <li class="nav-item">
								                                <a class="nav-link d-flex align-items-center gap-2 text-dark" href="{{path('user_transaction_index')}}">
								                                    <i class="fa-solid fa-house"></i>
								                                    Gestion des transactions 
								                                </a>
								                            </li> #}
						<li class="nav-item">
							<a class="nav-link" href="{{path('visitor_welcome_index')}}">Retour au site</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{path('app_logout')}}">Déconnexion</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>

		<main class="container-fluid" role="alert"> 
            {% block main %}{% endblock %}
		</main>

        <footer class="text-center fixed-bottom bg-danger">

			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<p class="fs-5">Dow Bolol Services</p>
						<hr>
						<p class="cursor-pointer"><a href="{{path('visitor_welcome_index')}}#about-me-section" class="text-decoration-none text-white">Qui suis-je ?</a></p>
						<p class="cursor-pointer"><a href="{{path('visitor_contact_create')}}" class="text-decoration-none text-white">Contactez-moi</a></p>
					</div>
					
					<div class="col-md-6">
						<p class="fs-5">DWWM</p>
						<hr>
						<p class="cursor-pointer"><a href="{{path('admin_transaction_index')}}" class="text-decoration-none text-white">Transaction</a></p>
						<p class="cursor-pointer"><a data-bs-toggle="modal" data-bs-target="#agreeTermsModal" href="#" class="text-decoration-none text-white">Les conditions générales d'utilisation</a></p>
						<!-- Modal -->
						<div class="text-dark modal fade" id="agreeTermsModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">                         
							<div class="modal-dialog modal-dialog-scrollable">
								<div class="modal-content ">
									<div class="modal-header">
										<h1 class="modal-title fs-5" id="exampleModalLabel">Les conditions générales d'utilisation</h1>
										<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
									</div>
									<div class="modal-body">
										<p>
											Qu'est-ce que le Lorem Ipsum? Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un imprimeur anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte. Il n'a pas fait que survivre cinq siècles, mais s'est aussi adapté à la bureautique informatique, sans que son contenu n'en soit modifié. Il a été popularisé dans les années 1960 grâce à la vente de feuilles Letraset contenant des passages du Lorem Ipsum, et, plus récemment, par son inclusion dans des applications de mise en page de texte, comme Aldus PageMaker.
										</p>
										<p>
											Pourquoi l'utiliser? On sait depuis longtemps que travailler avec du texte lisible et contenant du sens est source de distractions, et empêche de se concentrer sur la mise en page elle-même. L'avantage du Lorem Ipsum sur un texte générique comme 'Du texte. Du texte. Du texte.' est qu'il possède une distribution de lettres plus ou moins normale, et en tout cas comparable avec celle du français standard. De nombreuses suites logicielles de mise en page ou éditeurs de sites Web ont fait du Lorem Ipsum leur faux texte par défaut, et une recherche pour 'Lorem Ipsum' vous conduira vers de nombreux sites qui n'en sont encore qu'à leur phase de construction. Plusieurs versions sont apparues avec le temps, parfois par accident, souvent intentionnellement (histoire d'y rajouter de petits clins d'oeil, voire des phrases embarassantes).
										</p>

									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			{% block javascript %}{% endblock %}
        </footer>

        {# Le script de Bootstrap 5 #}
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
		</body>
	</html>
